<form
  [formGroup]="form"
  (ngSubmit)="save()"
  class="d-flex flex-column col-lg-6 col-md-12"
>
  <div class="d-flex justify-content-center flex-wrap" style="gap: 32px">
    <app-image-uploader formControlName="photo" label="photo" />
    <div class="d-flex flex-column justify-content-center col gap-3">
      <app-input formControlName="name" label="name" class="col" />

      <app-input
        formControlName="email"
        label="email"
        type="email"
        class="col"
      />

      <app-input
        formControlName="password"
        label="password"
        type="password"
        class="col"
      />
    </div>
  </div>

  <app-status-selector formControlName="status" class="col" />

  <app-button
    label="save"
    class="w-100"
    type="submit"
    [disabled]="form.invalid"
  />
</form>
