nav {
  position: relative;
}

nav ul {
  padding-top: 8px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  cursor: pointer;
  color: inherit;
}

.sidebar-item {
  padding: 4px 0;
  width: 100%;
  display: flex;
  align-items: center;
}

.sidebar-label {
  font-size: 14px;
}

.sidebar-icon {
  display: inline-flex;
  min-width: var(--jms-sidebar-collapsed-width);
}

.sidebar-children {
  margin-left: 50px;
  margin-bottom: 8px;
}

.sidebar-children-child {
  padding: 4px;
  margin-right: 8px;
  border-radius: 4px;
}

.sidebar {
  height: 100%;
  min-height: calc(100vh - var(--jms-toolbar-height));
  border-right: 1px solid var(--jms-border-color);
  background-color: var(--jms-sidebar-background-color);
}

.sidebar.closed {
  width: 50px;
}

.active {
  background-color: var(--jms-sidebar-hover-color) !important;
}

.sidebar.opened {
  width: 250px;
}

button {
  background: none;
  border: none;
  text-align: left;
  padding: 0;
}

button.sidebar-item {
  display: flex;
  justify-content: space-between;
}

[icon='expand_more'] {
  margin: 0 8px;
}

.rotate {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}

.sidebar a,
.sidebar button {
  color: #212529;
  background: none;
  border: none;
  text-align: left;
  text-decoration: none;
  display: flex;
  align-items: center;
  flex: 1;
  cursor: pointer;
  transition: background 0.2s ease;
}

.sidebar a:hover,
.sidebar button:hover {
  background-color: var(--jms-sidebar-hover-color);
}

pin {
  transform: rotate(0deg);
  position: absolute; right: 4px; top: 4px;
}

.pin-rotate {
  transform: rotate(45deg);
}
