BACKEND_URL=http://localhost:8080

DATABASE_URL=jdbc:postgresql://jms_postgres:5432/jmsdb
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=JbeWkB98P2xf


RABBITMQ_HOST=jms_rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=admin
RABBITMQ_PASSWORD=JbeWkB98P2xf


JWT_SECRET=557d69cf-69a1-4098-987e-4b78ff9e2a71
JWT_EXPIRATION=86400000